:root{
    --color-primario: #0C5678;
    --color-secundario: #3CCFCF;
}

main{
    padding-top: 7vh;
}

.titulo-seccion{
    color:var(--color-primario);
    font-weight:600;
}

.citas-section{
    height: 50%;
    padding:25px;
}

.cita-card{
    border-top: 1px solid var(--color-secundario);
    border-left:6px solid var(--color-secundario);
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.separador{
    border-top: 1px solid var(--color-secundario);
}

.historial-section{
    height:50%;
    padding:25px;
}

.historial-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3vh;
    border-radius:10px;
    background:white;
    box-shadow:0 5px 12px rgba(0,0,0,0.08);
    transition:0.3s ease-in-out;
}
.historial-card:hover{
    box-shadow:0 5px 12px var(--color-secundario);
}

.historial-icon{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background:var(--color-secundario);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}
.historial-icon:hover{
    cursor: pointer;
}

.tablon-section{
    height:100vh;
    padding:5vh;
    border-left:1px solid var(--color-secundario);
}

.tablon-scroll{
    overflow-y:auto;
    height:90%;
}

.anuncio-card{
    margin-bottom:20px;
    border:none;
    box-shadow:0 6px 12px rgba(0,0,0,0.08);
}

.anuncio-header{
    display:flex;
    align-items:center;
    gap:10px;
}

.doctor-img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

.btn-pleni{
    background:#0C5678;
    color:white;
    border:none;
}

.btn-pleni:hover{
    background:var(--color-secundario);
    color:var(--color-primario);
}

@media (max-width:991px) {
    main{
        padding-top: 10vh;
    }
    .tablon-section{
        padding-top: 10vh;
    }
}
@media (max-width:767px) {
    main{
        padding-top: 10vh;
    }
    .tablon-section{
        padding-top: 20vh;
    }
}