main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
main::-webkit-scrollbar {
    display: none;
}
html{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    display: none;
}

.sec1, .sec2, .sec3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec1{
    background-image: url("../media/doctor-patience.png");
}
.sec2{
    background-image: url("../media/plantilla.png");
}
.sec3{
    background-image: url("../media/nina-feliz.png");
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sec1::before, .sec2::before, .sec3::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../media/imagen1.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    transform: scale(1.1);
    z-index: 0;
}
.section article {
    position: relative;
    z-index: 2;
    padding: 2rem;
}
.sec1::after, .sec2::after, .sec3::after  {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}
.card {
    width: 100%;
    max-width: 40vw;
    box-shadow: 0.3vh 0.3vh 0.3vh #0C5678;
}

.card-title{
    text-shadow: 0.1vh 0.1vh 0.5vh #3CCFCF;
    font-size: 4vh !important;
}

.card-text{
    text-align: justify;
    width: 95%;
}

@media (max-width: 840px) {
    .card {
        max-width: 80vw;
    }
}
