main{
    margin-top: 10vh;
}

.card-footer{
    height: 5vh;
}

.card-body{
    color:white;
}

.card-text{
    text-align: center;
}

.medico{
    font-weight: bold;
    margin-bottom: 0 !important;
}

.especialidad{
    font-style: italic;
    font-size: 1.75vh;
}

.icono{
    display: inline-block;
    color: turquoise;
    transition: 1s;
}
.icono:hover{
    cursor: pointer;
    font-size: 2.5vh;
}

.botonSolicitar{
    background-color: #0C5678;
    color:white;
}